<h6 class="display-4">Forgot Password</h6>
<hr />
<form asp-action="ForgotPassword" asp-controller="Account" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row mb-2">
                <label class="col-md-4 col-form-label">Kayıtlı Email Adresinizi Giriniz:</label>
                <div class="col-md-8">
                    <input name="email" class="form-control" />
                </div>
            </div> 
            <div class="form-group row mb-2">
                <div class="col-md-8 offset-md-4">
                    <button  class="btn btn-primary"  type="submit" value="Submit"/>
                </div>
            </div>
        </div>
    </div>
</form>