@model Food

<div style="background-color: #bdc3c7" class="card mb-2">
    <div class="card-img p-2 text-md-center">
        <img style="max-height:188px;" src="~/img/@Model.ImageUrl" class="img-fluid"/>
    </div>

    <div class="card-body">
        <h5 class="card-title text-center">@Model.FoodName</h5>
        <div style="background-color: #bdc3c7" class="card-footer text-center d-flex justify-content-around p-1">
            <a  href="/DurkayaRecipe/Details/?url=@Model.Url"
               class="btn btn-sm btn-primary">Detail</a>
            @*<a href="#" class="btn btn-sm btn-success">Add to Card</a>*@
        </div>
    </div>
</div>