@page
@{
    Layout = "";
}

@{ Html.RenderPartial("header"); }

<!-- content başlangıcı -->
<section>
    <p>ILETISIM</p>
</section>
<!-- content bitişi -->


@{ Html.RenderPartial("footer"); }