<h5 class="text-light mb-3">Bizimle Bu Bilgilerden İletişime Geçebilirsiniz</h5>
<div>
    <ul class="text-light mt-1 mb-3">
        <li class="mt-1">Telefon : (0212)-415-15-23</li>
        <li class="mt-1">Faks : (0212)-415-15-25</li>
        <li class="mt-1">E-Mail : <a href="#" class="text-light">durkayarecipe@gmail.com</a></li>
        <li class="mt-1">Adres : Gül Sokak No:28 Zeytinburnu/İstanbul</li>
    </ul>
</div>